src/main/app/bonita-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xm="http://www.mulesoft.org/schema/mule/xml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<http:connector name="httpConnector" enableCookies="true"
		doc:name="HTTP-HTTPS" />

	<xm:namespace-manager>
		<xm:namespace uri="http://bip.b.br/process" prefix="proc" />
		<xm:namespace uri="http://bip.b.br/process/services"
			prefix="ser" />
		<xm:namespace
			uri="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
			prefix="wsse" />
	</xm:namespace-manager>
	<data-mapper:config name="JSON_To_XML"
		transformationGraphPath="json_to_xml.grf" doc:name="JSON_To_XML" />
	<data-mapper:config name="JSON_To_XML_1"
		transformationGraphPath="json_to_xml_1.grf" doc:name="JSON_To_XML_1" />
	<data-mapper:config name="XML_To_JSON"
		transformationGraphPath="xml_to_json.grf" doc:name="XML_To_JSON" />
	<data-mapper:config name="JSON_To_XML_1JSON_To_XML_2"
		transformationGraphPath="json_to_xml_2.grf" doc:name="JSON_To_XML_1JSON_To_XML_2" />
	<data-mapper:config name="JSON_To_XML_1JSON_To_XML_2JSON_To_XML_3"
		transformationGraphPath="json_to_xml_3.grf" doc:name="JSON_To_XML_1JSON_To_XML_2JSON_To_XML_3" />
	<data-mapper:config name="XML_To_JSON_1"
		transformationGraphPath="xml_to_json_1.grf" doc:name="XML_To_JSON_1" />
	<data-mapper:config
		name="JSON_To_XML_1JSON_To_XML_2JSON_To_XML_3JSON_To_XML_4"
		transformationGraphPath="json_to_xml_4.grf"
		doc:name="JSON_To_XML_1JSON_To_XML_2JSON_To_XML_3JSON_To_XML_4" />
	<data-mapper:config
		name="JSON_To_XML_1JSON_To_XML_2JSON_To_XML_3JSON_To_XML_4JSON_To_XML_5"
		transformationGraphPath="json_to_xml_5.grf"
		doc:name="JSON_To_XML_1JSON_To_XML_2JSON_To_XML_3JSON_To_XML_4JSON_To_XML_5" />


	<objectstore:config name="ObjectStore" partition="authKeys"
		doc:name="ObjectStore" />


	<flow name="bonita-apiFlow1" doc:name="bonita-apiFlow1">
		<http:inbound-endpoint exchange-pattern="request-response"
			host="${mule.host}" port="${mule.port}" path="bonita" doc:name="HTTP" />
		<cxf:proxy-service port="ProcessManagement_1_0SOAP"
			namespace="http://bip.b.br/process/services" service="ProcessManagement_1_0"
			payload="envelope" doc:name="CXF" wsdlLocation="ProcessManagement_1_0.wsdl" />
		<choice doc:name="Choice">
			<when expression="#[xpath:count(//ser:listProcessDefinitions) &gt; 0]">
				<flow-ref name="listProcessDefinitions" doc:name="listProcessDefinitions" />
			</when>
			<when expression="#[xpath:count(//ser:startTask) &gt; 0]">
				<flow-ref name="startTask" doc:name="startTask" />
			</when>
			<when expression="#[xpath:count(//ser:findTasks) &gt; 0]">
				<flow-ref name="findTasks" doc:name="findTasks" />
			</when>
			<when expression="#[xpath:count(//ser:startProcess) &gt; 0]">
				<flow-ref name="startProcess" doc:name="startProcess" />
			</when>
			<when expression="#[xpath:count(//ser:findUsers) &gt; 0]">
				<flow-ref name="findUsers" doc:name="findUsers" />
			</when>
			<when expression="#[xpath:count(//ser:completeTask) &gt; 0]">
				<flow-ref name="completeTask" doc:name="completeTask" />
			</when>
			<when expression="#[xpath:count(//ser:findProcessInstances) &gt; 0]">
				<flow-ref name="findProcessInstances" doc:name="findProcessInstances" />
			</when>
			<when expression="#[xpath:count(//ser:listVariables) &gt; 0]">
				<flow-ref name="listVariables" doc:name="listVariables" />
			</when>
		</choice>
	</flow>
	<flow name="Auth" doc:name="Auth">
		<objectstore:retrieve config-ref="ObjectStore"
			key="#[xpath(&quot;//wsse:Username&quot;).getText()]" doc:name="ObjectStore" targetProperty="#[payload]"/>
        <logger message="Cached response: #[payload]" level="DEBUG" doc:name="Logger"/>
        <expression-component doc:name="Expression"><![CDATA[#[flowVars.cookie = payload]]]></expression-component>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="Tratamento de exce&#231;&#227;o???" level="WARN"
			doc:name="Logger" />
			<expression-component doc:name="Expression"><![CDATA[#[flowVars.username = xpath('//wsse:Username').getText()]]]></expression-component>
			<expression-component doc:name="Expression"><![CDATA[#[payload = 'username=' + xpath('//wsse:Username').getText() + '&password=' + xpath('//wsse:Password').getText() + '&redirect=false']]]></expression-component>
			<http:outbound-endpoint exchange-pattern="request-response"
				host="${bonita.host}" port="${bonita.port}" path="bonita/loginservice"
				connector-ref="httpConnector" method="POST"
				contentType="application/x-www-form-urlencoded" doc:name="HTTP">
			</http:outbound-endpoint>
			<expression-component doc:name="Expression"><![CDATA[#[payload = message.inboundProperties['Set-Cookie']]]]></expression-component>
			<expression-component doc:name="Expression"><![CDATA[#[flowVars.cookie = payload[0].value]]]></expression-component>
            <objectstore:store config-ref="ObjectStore" key="#[flowVars.username]" value-ref="#[flowVars.cookie]" doc:name="ObjectStore"/>
        </catch-exception-strategy>

	</flow>
	<sub-flow name="listProcessDefinitions" doc:name="listProcessDefinitions">
        <flow-ref name="Auth" doc:name="Autentica"/>

		<http:outbound-endpoint exchange-pattern="request-response"
			host="${bonita.host}" port="${bonita.port}" path="bonita/API/bpm/process?p=0&amp;c=1000"
			method="GET" doc:name="HTTP" connector-ref="httpConnector">
			<properties>
				<spring:entry key="cookies">
					<spring:map>
						<spring:entry key="JSESSIONID" value="#[flowVars.cookie]" />
					</spring:map>
				</spring:entry>
			</properties>
		</http:outbound-endpoint>
		<data-mapper:transform config-ref="JSON_To_XML"
			doc:name="JSON To XML" />
		<byte-array-to-string-transformer
			doc:name="Byte Array to String" />
		<expression-component doc:name="Expression"><![CDATA[#[payload = '<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body>' + payload.substring(payload.indexOf('?>') + 2) + '</soapenv:Body></soapenv:Envelope>']]]></expression-component>
	</sub-flow>
	<sub-flow name="startTask" doc:name="startTask">
		<expression-component doc:name="Expression"><![CDATA[#[flowVars.taskId = xpath('//ser:task/proc:id').getText()]]]></expression-component>
		<expression-component doc:name="Expression"><![CDATA[#[flowVars.userId = xpath('//ser:user/proc:id').getText()]]]></expression-component>
		<flow-ref name="Auth" doc:name="Autentica" />
		<expression-component doc:name="Expression"><![CDATA[#[payload = '{"assigned_id":"' + flowVars.userId + '"}']]]></expression-component>
		<http:outbound-endpoint exchange-pattern="request-response"
			host="${bonita.host}" port="${bonita.port}" method="PUT" doc:name="HTTP"
			path="bonita/API/bpm/humanTask/#[flowVars.taskId]">
			<properties>
				<spring:entry key="cookies">
					<spring:map>
						<spring:entry key="JSESSIONID" value="#[flowVars.cookie]" />
					</spring:map>
				</spring:entry>

			</properties>

		</http:outbound-endpoint>
		<expression-component doc:name="Expression"><![CDATA[#[payload = '<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><ser:startTaskResponse xmlns:ser="http://bip.b.br/process/services" /></soapenv:Body></soapenv:Envelope>']]]></expression-component>
	</sub-flow>
	<sub-flow name="startProcess" doc:name="startProcess">
		<expression-component doc:name="Expression"><![CDATA[#[flowVars.initialPayload = xpath('//ser:startProcess')]]]></expression-component>
		<flow-ref name="Auth" doc:name="Autentica" />
		<expression-component doc:name="Expression"><![CDATA[#[payload = flowVars.initialPayload]]]></expression-component>
		<xm:dom-to-xml-transformer doc:name="DOM to XML" />
		<data-mapper:transform config-ref="XML_To_JSON"
			doc:name="XML To JSON" />
		<message-properties-transformer
			doc:name="Message Properties" overwrite="true" scope="invocation">
			<add-message-property key="Content-Type" value="application/json" />
		</message-properties-transformer>
		<http:outbound-endpoint exchange-pattern="request-response"
			host="${bonita.host}" port="${bonita.port}" path="bonita/API/bpm/case"
			method="POST" doc:name="HTTP" connector-ref="httpConnector"
			contentType="application/json" disableTransportTransformer="true">

			<properties>
				<spring:entry key="cookies">
					<spring:map>
						<spring:entry key="JSESSIONID" value="#[flowVars.cookie]" />
					</spring:map>
				</spring:entry>

			</properties>
		</http:outbound-endpoint>
		<data-mapper:transform config-ref="JSON_To_XML_1JSON_To_XML_2"
			doc:name="JSON To XML" />
		<byte-array-to-string-transformer
			doc:name="Byte Array to String" />
		<expression-component doc:name="Expression"><![CDATA[#[payload = '<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body>' + payload.substring(payload.indexOf('?>') + 2) + '</soapenv:Body></soapenv:Envelope>']]]></expression-component>
	</sub-flow>
	<sub-flow name="findTasks" doc:name="findTasks">
		<expression-component doc:name="Expression"><![CDATA[#[flowVars.caseId = xpath('//proc:id').getText()]]]></expression-component>
		<flow-ref name="Auth" doc:name="Autentica" />
		<http:outbound-endpoint exchange-pattern="request-response"
			host="${bonita.host}" port="${bonita.port}"
			path="bonita/API/bpm/humanTask?f=caseId=#[flowVars.caseId]" method="GET"
			doc:name="HTTP">
			<properties>
				<spring:entry key="cookies">
					<spring:map>
						<spring:entry key="JSESSIONID" value="#[flowVars.cookie]" />
					</spring:map>
				</spring:entry>
			</properties>
		</http:outbound-endpoint>
		<data-mapper:transform config-ref="JSON_To_XML_1"
			doc:name="JSON To XML" />
		<byte-array-to-string-transformer
			doc:name="Byte Array to String" />
		<expression-component doc:name="Expression"><![CDATA[#[payload = '<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body>' + payload.substring(payload.indexOf('?>') + 2) + '</soapenv:Body></soapenv:Envelope>']]]></expression-component>
	</sub-flow>
	<sub-flow name="findUsers" doc:name="findUsers">
		<flow-ref name="Auth" doc:name="Autentica" />
		<http:outbound-endpoint exchange-pattern="request-response"
			host="${bonita.host}" port="${bonita.port}" path="bonita/API/identity/user?p=0&amp;c=1000"
			connector-ref="httpConnector" method="GET" doc:name="HTTP">
			<properties>
				<spring:entry key="cookies">
					<spring:map>
						<spring:entry key="JSESSIONID" value="#[flowVars.cookie]" />
					</spring:map>
				</spring:entry>
			</properties>
		</http:outbound-endpoint>
		<data-mapper:transform doc:name="JSON To XML"
			config-ref="JSON_To_XML_1JSON_To_XML_2JSON_To_XML_3" />
		<byte-array-to-string-transformer
			doc:name="Byte Array to String" />
		<expression-component doc:name="Expression"><![CDATA[#[payload = '<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body>' + payload.substring(payload.indexOf('?>') + 2) + '</soapenv:Body></soapenv:Envelope>']]]></expression-component>
	</sub-flow>
	<sub-flow name="completeTask" doc:name="completeTask">
		<expression-component doc:name="Expression"><![CDATA[#[flowVars.taskId = xpath('//ser:task/proc:id').getText()]]]></expression-component>
		<expression-component doc:name="Expression"><![CDATA[#[flowVars.bkpPayload = xpath('//ser:completeTask')]]]></expression-component>
		<flow-ref name="Auth" doc:name="Autentica" />
		<expression-component doc:name="Expression"><![CDATA[#[payload = flowVars.bkpPayload]]]></expression-component>
		<xm:dom-to-xml-transformer doc:name="DOM to XML" />
		<data-mapper:transform config-ref="XML_To_JSON_1"
			doc:name="XML To JSON" />
		<byte-array-to-string-transformer
			doc:name="Byte Array to String" />
		<message-properties-transformer
			doc:name="Message Properties" overwrite="true" scope="invocation">
			<add-message-property key="Content-Type" value="application/json" />
		</message-properties-transformer>
		<http:outbound-endpoint exchange-pattern="request-response"
			host="${bonita.host}" port="${bonita.port}"
			path="bonita/API/bpm/activity/#[flowVars.taskId]" connector-ref="httpConnector"
			method="PUT" doc:name="HTTP" contentType="application/json">
			<properties>
				<spring:entry key="cookies">
					<spring:map>
						<spring:entry key="JSESSIONID" value="#[flowVars.cookie]" />
					</spring:map>
				</spring:entry>
			</properties>
		</http:outbound-endpoint>
		<expression-component doc:name="Expression"><![CDATA[#[payload = '<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><ser:completeTaskResponse xmlns:ser="http://bip.b.br/process/services" /></soapenv:Body></soapenv:Envelope>']]]></expression-component>
	</sub-flow>
	<sub-flow name="findProcessInstances" doc:name="findProcessInstances">
		<flow-ref name="Auth" doc:name="Autentica" />
		<http:outbound-endpoint exchange-pattern="request-response"
			host="${bonita.host}" port="${bonita.port}" path="bonita/API/bpm/case?p=0"
			connector-ref="httpConnector" method="GET" doc:name="HTTP">
			<properties>
				<spring:entry key="cookies">
					<spring:map>
						<spring:entry key="JSESSIONID" value="#[flowVars.cookie]" />
					</spring:map>
				</spring:entry>
			</properties>
		</http:outbound-endpoint>
		<data-mapper:transform
			config-ref="JSON_To_XML_1JSON_To_XML_2JSON_To_XML_3JSON_To_XML_4"
			doc:name="JSON To XML" />
		<byte-array-to-string-transformer
			doc:name="Byte Array to String" />
		<expression-component doc:name="Expression"><![CDATA[#[payload = '<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body>' + payload.substring(payload.indexOf('?>') + 2) + '</soapenv:Body></soapenv:Envelope>']]]></expression-component>
	</sub-flow>
	<sub-flow name="listVariables" doc:name="listVariables">
		<expression-component doc:name="Expression"><![CDATA[#[flowVars.caseId = xpath('//ser:processInstance/proc:id').getText()]]]></expression-component>
		<flow-ref name="Auth" doc:name="Autentica" />
		<http:outbound-endpoint exchange-pattern="request-response"
			host="${bonita.host}" port="${bonita.port}"
			path="bonita/API/bpm/caseVariable?p=0&amp;c=10&amp;f=case_id%3d#[flowVars.caseId]"
			connector-ref="httpConnector" method="GET" doc:name="HTTP">
			<properties>
				<spring:entry key="cookies">
					<spring:map>
						<spring:entry key="JSESSIONID" value="#[flowVars.cookie]" />
					</spring:map>
				</spring:entry>
			</properties>

		</http:outbound-endpoint>
		<data-mapper:transform
			config-ref="JSON_To_XML_1JSON_To_XML_2JSON_To_XML_3JSON_To_XML_4JSON_To_XML_5"
			doc:name="JSON To XML" />
		<byte-array-to-string-transformer
			doc:name="Byte Array to String" />
		<expression-component doc:name="Expression"><![CDATA[#[payload = '<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body>' + payload.substring(payload.indexOf('?>') + 2) + '</soapenv:Body></soapenv:Envelope>']]]></expression-component>
	</sub-flow>
</mule>
